/* Sticky footer styles
-------------------------------------------------- */

/* Wrapper for page content to push down footer */


/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  position : fixed;
  width:100%;
  bottom:0px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.caret-up {
    /* Safari */
    -webkit-transform: rotate(-180deg);

    /* Firefox */
    -moz-transform: rotate(-180deg);

    /* IE */
    -ms-transform: rotate(-180deg);

    /* Opera */
    -o-transform: rotate(-180deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);

}

.drop-up {
    top: auto;
    bottom: 100% !important;

}
