
html{
overflow-x: hidden;
}


body {
  height: 100%;

  background-color :white;
  /* The html and body elements cannot have any padding or margin. */
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 100 0 60px;
}

