{% extends 'welcome_page/default/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">

            <div class="account-wall">
                <img class="profile-img" src="{{STATIC_URL}}img/start-it.jpg"
                    alt="">
                <form action="/login/" method="post" class="form-signin">
                    {% csrf_token %}
                <input type="text" class="form-control" placeholder="Username" required autofocus name="username">
                <input type="password" class="form-control" placeholder="Password" required name="password">
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock content %}