{% extends 'welcome_page/default/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1>Dolacz juz dzis</h1>
                <p>I spraw, by Twoje hobby stalo sie pasja</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
{% endblock content %}