{% extends 'welcome_page/default/base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <form role="form" method="post">
            {% csrf_token %}
            <div class="col-lg-6">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
                <div class="form-group">
                    <label for="InputName">Enter Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="username" id="InputName" placeholder="Enter Name" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                    <div class="form-group">
                    <label for="InputEmail">Enter Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="InputEmailFirst" name="email" placeholder="Enter Email" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputPassword">Input password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="InputPasswordFirst" name="password" placeholder="Password" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="ConfirmPassword">ConfirmPassword</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="InputPasswordSecond" name="confirmed_password" placeholder="Password" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>


                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
            </div>
        </form>
        <div class="col-lg-5 col-md-push-1">
            <div class="col-md-12">
                <div class="alert alert-success">
                    <strong><span class="glyphicon "></span> Welcome to register form!</strong>
                </div>

                {% for error, content in  errors.items %}
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-remove"></span><strong> {{ content }}</strong>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock content %}