{% extends 'user_panel/default/base.html' %}

{% block content %}



<div class="tab-content">
  <div class="tab-pane active" id="inbox">
      <div class="container">
           <div class="content-container clearfix">
               <div class="col-md-12">
                   <h1 class="content-title">Wiadomości</h1>

                   <input type="search" placeholder="Szukaj" class="form-control mail-search" />
                   <ul class="mail-list">
                       {% for conversation in data %}
                       <li>
                           <a href="{{ conversation.id }}">
                               <span class="mail-sender">Konwersacja z :
                               {% for participant in conversation.participants.all %}
                                   {% if participant.username != user.username %}
                                   {{ participant.username }}
                                   {% endif %}
                                {% endfor %}
                               </span>
                               <span class="mail-subject">{{ conversation.messages.all.0.created_at }} </span>
                               <span class="mail-message-preview">{{ conversation.messages.all.0.author }}: {{ conv.messages.all.0.text }}</span>
                           </a>
                       </li>

                       {% endfor %}

                   </ul>
               </div>
           </div>
       </div>
      
  </div>
</div>




{% endblock content %}