{% extends 'user_panel/default/base.html' %}

{% block content %}


<div class="tab-content">
  <div class="tab-pane active" id="inbox">

      <div class="container">
           <div class="content-container clearfix">
               <div class="col-md-12">
                   <h1 class="content-title">Wiadomości</h1>

                <div class="input-group2">
                                <form method="POST" action="">
                                {% csrf_token %}
                                    <span class="input-group-btn">
                                        <input type="text" class="form-control" name="text" placeholder="Enter Message" />
                                        <button class="btn btn-info" stype="display:block" type="submit">SEND</button>
                                    </span>
                                    </form>
                </div>

                   <ul class="mail-list">
                       {% for message in data.messages reversed %}
                       <li>
                           <a href="">
                               <img class="chat_image" src="{{ message.author.avatar }}">
                               <span class="mail-sender">{{ message.author.username }}</span>
                               <span class="mail-subject">{{ message.created_at }}</span>
                               <span class="mail-message-preview"> {{ message.text }}</span>
                           </a>
                       </li>

                       {% endfor %}

                   </ul>
               </div>


           </div>
       </div>

  </div>
</div>




{% endblock content %}