{% extends 'user_panel/default/base.html' %}

{% block content %}


<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container bootstrap snippet">

      <div class="jumbotron list-content">
    <ul class="list-group">
      <li href="#" class="list-group-item title">
        Your friend zone
          </li>
    {% include 'user_panel/content/user_display.html' %}

            </ul>

  </div>
</div>


{% endblock content %}