{% extends 'user_panel/default/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <h2>Hobby superman</h2>

    <hr>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


        {% include 'user_panel/content/hobby_activity_type.html' %}

        {% include 'user_panel/content/hobby_activity_type2.html' %}



  </div>


    <hr>


  </div>

</div>


{% endblock content %}