



        {% for friend in friends_data %}

        {{ friend }}
        <li href="#" class="list-group-item text-left">
        <a href="/users/{{ friend.username }}"><img class="img-thumbnail" src="{{ friend.avatar }} "> </a>
        <label class="name">
            <a href="/users/{{ friend.username }}"> {{ friend.username }}</a>
        </label>
        <label class="pull-right">
            <a  class="btn btn-success btn-xs glyphicon glyphicon-ok" href="/users/{{ friend.username }}" title="View"></a>
            <a  class="btn btn-danger  btn-xs glyphicon glyphicon-trash" href="/" title="Delete"></a>
            <a  class="btn btn-info  btn-xs glyphicon glyphicon glyphicon-comment" href="/users/{{ friend.id }}/conversation/" title="Send message"></a>
        </label>
        <div class="break"></div>
      </li>
        {% endfor %}
      <li href="#" class="list-group-item text-left">
        <a class="btn btn-block btn-primary">
            <i class="glyphicon glyphicon-refresh"></i>
            Load more...
        </a>
      </li>
