<html >
{% load staticfiles %}
    <head>
           <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/left_bar.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/user_profile.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/friend_conversation.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/friends.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/hobby_list.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/hobby_detail.css' %}" />
        <title>Activy</title>
    </head>

    <body>
        {% include 'user_panel/default/user_bar.html' %}
        {% include 'user_panel/default/left_bar.html' %}

        <div id="wrap">
        {% block content %}
        {% endblock %}
        </div>
        {% include 'user_panel/default/footer.html' %}

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/hobby_detail.js' %}"></script>
    <script src="{% static 'js/hobby_detail2.js' %}"></script>
        <
    </body>
</html>