  <div id="footer">
      <div class="container">
        <p class="text-muted credit">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Links <span class="caret caret-up"></span>
                </button>
                <ul class="dropdown-menu drop-up" role="menu">
                    <li><a href="">Authors:</a></li>
                    <li><a href="https://pl.linkedin.com/pub/kamil-rogalski/a4/a06/a6a">Kamil Rogalski</a></li>
                    <li><a href="https://pl.linkedin.com/pub/rafał-lizoń/82/20a/ab">Rafał Lizoń</a></li>
                    <li class="divider"></li>
                    <li><a href="#">TMBK</a></li>
                </ul>
            </div>



        </p>
      </div>
    </div>
