
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">

                </li>
                <li>
                    <a href="/hobby/1"><img src="http://lorempixel.com/200/200?rand=4"></a>
                </li>
                <li>
                    <a href="/hobby/1"><img src="http://lorempixel.com/200/200?rand=2"></a>
                </li>
                <li>
                    <a href="/hobby/1"><img src="http://lorempixel.com/200/200?rand=3"></a>
                </li>

            </ul>
        </div>

    </div>

