<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      </button>

      <a class="navbar-brand" href="/">Activy</a>
    </div>

<form class="navbar-form navbar-left" action="/search/" method="post">
    {% csrf_token %}
    <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="search_text" id="search_text">
        </div>
        <button class="btn btn-default">Submit</button>
      </form>

      <ul class="nav navbar-nav navbar-right">


        <li><a href="/">Tablica</a></li>
        <li><a href="/conversation">Wiadomosci</a></li>
        <li><a href="/friends/">Przyjaciele</a></li>
        <li><a href="/profile">User Profile</a></li>
        <li><a href="/logout">Logout</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>