<html >
{% load staticfiles %}
    <head>
           <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/the-big-picture.css' %}" />
        <title>Activy</title>
    </head>

    <body class="full">

        {% include 'welcome_page/default/main_bar.html' %}

        <div id="wrap">
        {% block content %}
        {% endblock %}
            </div>
        {% include 'welcome_page/default/footer.html' %}

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>